.container {
  margin-bottom: 24px;
    justify-content: center;

}

.container-lg {
  margin-bottom: 32px;
}
.nav-logo {

 padding: 20px;
}
.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 3rem;
  line-height: 115%;
  font-weight: 600;
  color: #333;
  justify-content: center;
}

.form-container {
  max-width: 28rem;
  margin: 0 auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.label {
  display: block;
  color: #666;
}

.input {
    width: 100%;;
  margin-top: 0.25rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
 border-radius: 15px;

}

.button {
    width: 30%;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
}
